
body{
	background-color: #ebe7e4;
}

h1{
	font-family: 'Alex Brush', cursive;
}

h2,h3,h4 {
	font-family: 'Josefin Sans', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;

}
a{
	color:black;
}
a:hover{
	color:grey;
	cursor: pointer;
	transition: color .3s;
	transition: pointer .3s;
}
/*Jerarquia de fonts*/

h1 {
	font-size: 3.5em;
	
}

h2{
	font-size: 2.25em;
}
h3{
	font-size: 1.6em;
}

p{
	font-size: 1em;
}

.buttons{
	font-size: 1.1em;
	height: 2.8em;
	border-radius: 0px;
	padding-left: 1.5em;
    padding-right: 1.5em;
   	letter-spacing: 1px;
   	background-color: rgb(130,173,159);
   	border: solid 1px rgb(130,173,159);
   
}
.buttons:hover{
	opacity: 1.9;
	cursor: pointer;
	transition: color .3s;
	transition: pointer .3s;
   
}


@media only screen and (max-width: 767px){
	h1{
		font-size: 2.60em;
	}
	h2{
		font-size: 1.625em;	
	}	
	h3{
		font-size: 1.375em;
	}
	p{
	font-size: 1em;
	}
	
}

/*Navbar*/
.navbar{
	background-color: #ebe7e4;
	padding: 20px;
	
}
.navbar-brand{
	margin-left: 200px;
}
.navbar-brand--secundary{
	width: 30px;
	height: 30px;
	
}
.navbar-nav{
	margin-right: 220px;

}

.nav-item:hover{
	border-radius: 0px;
   	background-color: rgb(130,173,159);
 }
   	
@media only screen and (min-device-width: 320px) and (max-device-width: 425px){
	.navbar{
	background-color: #ebe7e4;
	padding: 20px 0px 20px 0px;
	}
	.navbar-brand{
	margin-left: 0px;
	}
	.navbar-brand--secundary{
	margin-left: 0px;
	width: 25px;
	height: 25px;
	}
	.navbar-nav{
	margin-right: 0px;
	}

}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px){
	.navbar-brand{
	margin-left: 0px;
	}
}


/*Fin navbar*/

/*Header*/
.header-vidasana{
	height:650px;
	background-image: url(../../assets/img/banner8.png);
	background-repeat: no-repeat;
	background-size: cover;
	
}

.header-vidasana h1{
	font-size: 9em;
	letter-spacing: 3px;
	text-shadow: 3px 3px 2px #000;

}
.header-vidasana p {
	font-size: 18px;
	width: 50em;
	letter-spacing: 1px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 425px){
	.header-vidasana{
	height:400px;
	}
	.header-vidasana h1{
	font-size: 4.5em;
	text-align: center;
	}
	.header-vidasana p {
		display: none;
	}
}

@media only screen and (min-device-width: 426px) and (max-width: 768px){
	.header-vidasana{
	height:400px;
	}
	.header-vidasana h1{
	font-size: 4.5em;
	text-align: center;
	}
	.header-vidasana p {
		display: none;
	}
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px){
	.header-vidasana h1{
	font-size: 6em;
	text-align: center;
	}
}

/*Fin header*/


/*Main talleres y eventos*/

.lessons {
	
	height: 289px;
	margin-right: 0.5rem;
	-webkit-box-shadow: 0px 10px 107px -15px rgba(0,0,0,0.43);
	-moz-box-shadow: 0px 10px 107px -15px rgba(0,0,0,0.43);
	box-shadow: 0px 10px 107px -15px rgba(0,0,0,0.43);

}
.lessons__inner{
	text-align: center;
	padding-top: 55px;
	background-color: white;
	height: 289px;
	line-height: 26px;
	
}

.lessons__secundary{
	height: 289px;
	-webkit-box-shadow: 0px 10px 107px -15px rgba(0,0,0,0.43);
	-moz-box-shadow: 0px 10px 107px -15px rgba(0,0,0,0.43);
	box-shadow: 0px 10px 107px -15px rgba(0,0,0,0.43);

}

.lessons__img__right{
	background-image: url(../../assets/img/taller.png);
	height: 289px;
	background-size: cover;

}

.lessons__img__left{
	background-image: url(../../assets/img/event.png);
	height: 289px;
	background-size: cover;

}
@media only screen and (min-device-width: 320px) and (max-device-width: 425px){
	.lessons__img__right{
		display: none;
	}
	.lessons__img__left{
		display: none;
	}
	.lessons {
		margin-bottom: 50px;
		margin-right: 0rem;
		margin-left: 0rem;
	}
}

@media only screen and (min-device-width: 426px) and (max-width: 768px){
	.lessons__inner{
	padding-top: 30px;
	}
}

/*Fin main talleres y eventos*/

/*Comienzo nutrition*/
.nutrition h1{
 	margin-top: 30px;
}

.nutrition__inner{
	text-align: center;
	padding-top: 55px;
	background-color: white;
	height: 289px;
	line-height: 26px;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
	-webkit-box-shadow: 0px 10px 107px -15px rgba(0,0,0,0.43);
	-moz-box-shadow: 0px 10px 107px -15px rgba(0,0,0,0.43);
	box-shadow: 0px 10px 107px -15px rgba(0,0,0,0.43);
}

.nutrition__inner_img-right {
	background-image: url("../../assets/img/vida-sana2.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.nutrition__inner_img-left{
	background-image: url("../../assets/img/vidasana2.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 425px){
	.nutrition__inner{
	text-align: center;
	padding-top: 55px;
	background-color: white;
	height: 289px;
	line-height: 26px;
	}
	.nutrition__inner_img-right{
	display: none;
	}
}

@media only screen and (min-device-width: 426px) and (max-width: 768px){
	.nutrition__inner--position{
	padding-top: 30px;
	}
}

/*Fin nutrition*/

/*achievements*/
.achievements {
  text-align: center;
  padding: 4rem 10vw 2rem 10vw;
  position: relative;
  margin-bottom: 130px;
  line-height: 26px;
  letter-spacing: 1px;

}

.achievements h3 {
  padding-top: 1rem;
 text-align: center;

}

.achievements__inner{
	height: 200px;
	background-size: 100% 100%;


}
.achievements__inner__mov{
	position: absolute;
	top:80px;
	right: 5px;
}

.achievements__inner-icon {
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: relative;
  -webkit-box-shadow: 0px 10px 107px -15px rgba(0,0,0,0.43);
	-moz-box-shadow: 0px 10px 107px -15px rgba(0,0,0,0.43);
	box-shadow: 0px 10px 107px -15px rgba(0,0,0,0.43);
}

.svg-inline--fa  {
  color:rgb(130,173,159);
  font-size: 40px;
  position: absolute;
  top: 30px;
  right: 30px;

}
.svg-inline--fa-2{
	position: absolute;
	right: 27px;
}
.svg-inline--fa-3{
	position: absolute;
	right: 35px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 425px){
	.achievements__inner{
		margin-bottom: 0px;
		margin-left: 50px;

	}
	.achievements__inner__mov{
		position: absolute;
		top:20px;
		right: 35px;
	}
}

@media only screen and (min-device-width: 426px) and (max-width: 768px){

}


/*Fin feature*/

/*Comienzo corousel*/
#testimonials{
	height: 300px;
}

.carousel-inner img{

	height: 110px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
}
.carousel-item h5{
	line-height: 33px;
	font-size: 21px;
	letter-spacing:2px;
}
.carousel-item p{
	line-height: 33px;
	font-size: 21px;
	letter-spacing:2px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 425px){
	#testimonials{
		padding: 0px;
	}
	.carousel-item h5{
	line-height: 20px;
	font-size: 18px;
	letter-spacing:2px;
	}
	.carousel-item p{
	line-height: 20px;
	font-size: 16px;
	letter-spacing:2px;
	}
}

@media only screen and (min-device-width: 426px) and (max-width: 768px){

}

/*Fin corousel*/

/*Comienzo footer*/
.footer{
	height: 8em;
}
.footer__form{
	margin-top: 5em;
	-webkit-box-shadow: 0px 10px 107px -15px rgba(0,0,0,0.43);
	-moz-box-shadow: 0px 10px 107px -15px rgba(0,0,0,0.43);
	box-shadow: 0px 10px 107px -15px rgba(0,0,0,0.43);
	height: 100%;
	padding: 100px;
	background-color: white;

}
.form-group{

}
.footer__secundary{
	margin-top: 5em;
}
.footer p{
	font-weight: bold;
}
.footer button{
	margin-left: 5px;
}
.footer__inner{
	background-color: rgb(130,173,159);
	border-radius: 50%;
	width: 35px;
	height: 35px;
	margin: auto;
	position: relative;
	display: inline-block;

}
.footer__inner-icon{
	font-size: 1em;
	position: absolute;
	top: 10px;
	left:10px;

}
.footer__inner-icon--left{
	font-size: 1em;
	position: absolute;
	top: 10px;
	left:13px;

}
.footer__inner-icon--right{
	font-size: 1em;
	position: absolute;
	top: 10px;
	left:9px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 425px){
.form-control{
	width: 93%;

}
.footer__form{
	margin-top: 5em;
	padding-left: 25px;
	padding-right: 0px;
	}


@media only screen and (min-device-width: 426px) and (max-width: 768px){
	
}
/*Fin footer*/


/*Contacto*/
.contacto{

}

.contacto__map{

}
.contacto__datos{


}
.contacto__datos h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	letter-spacing: 3px;
	margin-top: 50px;
}
.p {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 2px;
}


